# **Alex's Journal**

**Best Neighborhood in Pittsburgh**: *to be determined*

<u>Metric</u>: Best place to own in dog in Pittsburgh

<u>Databases</u>: *Licenses(mine)*, Supermarkets(Daniel), Housing(Nhu)

In [10]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt

dl = pd.read_csv("DogLicenses.csv", index_col = "DogName")

In [11]:
dl.sample(5)

,LicenseType,Breed,Color,OwnerZip,ExpYear,ValidDate
DogName,,,,,,
SUMMER,Dog Lifetime Spayed Female,MIXED,WHITE,15044,2099,2014-10-16T14:07:39
FAWN,Dog Senior Lifetime Spayed Female,BLACK&TAN COONHOUND,BLACK/BROWN,15084,2099,2017-02-08T15:35:38
TITAN,Dog Senior Lifetime Neutered Male,DOBERMAN PINSCHER,BLACK/TAN,15238,2099,2013-08-02T14:19:19
JAKE,Dog Senior Lifetime Neutered Male,GER SHORTHAIR POINT,SPOTTED,15090,2099,2019-01-22T15:12:07
FINN,Dog Lifetime Neutered Male,CAV KING CHAR SPANI,WHITE/BROWN,15090,2099,2015-08-11T09:34:08

The  Dog Licenses database is downloaded and stored as dl. The .head() method was to view the dataset and how the information appears with the column as owner zip codes in a random sample.

In [12]:
dl.describe()

           OwnerZip  ExpYear
count  36633.000000  36633.0
mean   15155.909399   2099.0
std      285.835365      0.0
min    15003.000000   2099.0
25%    15101.000000   2099.0
50%    15137.000000   2099.0
75%    15228.000000   2099.0
max    47909.000000   2099.0

The describe method was used to see an overall of all of the data in the database.

In [13]:
pitt_zip = [15201, 15203, 15204, 15205, 15206, 15207, 15208, 15210, 15211,
            15212, 15213, 15214, 15215, 15216, 15217, 15218, 15219, 15220,
            15221, 15222, 15224, 15226, 15227, 15230, 15232, 15233, 15234,
            15235]

Creates a list of city zip codes and names as pitt_zip.

To-Do List:
* Filter out non-pitt zips
* Show new data in describe and sample
* Create a graph describing dog friendly areas and explain it