# **Alex's Journal**

**Best Neighborhood in Pittsburgh**: *to be determined*

<u>Metric</u>: Best place to own in dog in Pittsburgh

<u>Databases</u>: *Licenses(mine)*, Supermarkets(Daniel), Housing(Nhu)

In [2]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt

dl = pd.read_csv("DogLicenses.csv", index_col = "DogName")

In [11]:
dl.sample(5)

,LicenseType,Breed,Color,OwnerZip,ExpYear,ValidDate
DogName,,,,,,
SUMMER,Dog Lifetime Spayed Female,MIXED,WHITE,15044,2099,2014-10-16T14:07:39
FAWN,Dog Senior Lifetime Spayed Female,BLACK&TAN COONHOUND,BLACK/BROWN,15084,2099,2017-02-08T15:35:38
TITAN,Dog Senior Lifetime Neutered Male,DOBERMAN PINSCHER,BLACK/TAN,15238,2099,2013-08-02T14:19:19
JAKE,Dog Senior Lifetime Neutered Male,GER SHORTHAIR POINT,SPOTTED,15090,2099,2019-01-22T15:12:07
FINN,Dog Lifetime Neutered Male,CAV KING CHAR SPANI,WHITE/BROWN,15090,2099,2015-08-11T09:34:08

The  Dog Licenses database is downloaded and stored as dl. The .head() method was to view the dataset and how the information appears with the column as owner zip codes in a random sample.

In [12]:
dl.describe()

           OwnerZip  ExpYear
count  36633.000000  36633.0
mean   15155.909399   2099.0
std      285.835365      0.0
min    15003.000000   2099.0
25%    15101.000000   2099.0
50%    15137.000000   2099.0
75%    15228.000000   2099.0
max    47909.000000   2099.0

The describe method was used to see an overall of all of the data in the database.

In [2]:
city_zips = [15201, 15203, 15204, 15205, 15206, 15207, 15208, 15210, 15211,
            15212, 15213, 15214, 15215, 15216, 15217, 15218, 15219, 15220,
            15221, 15222, 15224, 15226, 15227, 15230, 15232, 15233, 15234,
            15235]
len(city_zips)

28

Creates a list of city zip codes and names as city_zip with the 28 zip codes.

In [12]:
dl.groupby("OwnerZip").count()

          LicenseType  Breed  Color  ExpYear  ValidDate
OwnerZip
15003              31     31     31       31         31
15005              48     48     48       48         48
15006               7      7      7        7          7
15007               9      9      9        9          9
15012               3      3      3        3          3
...               ...    ...    ...      ...        ...
16342               1      1      1        1          1
32081               1      1      1        1          1
33426               1      1      1        1          1
46845               1      1      1        1          1
47909               1      1      1        1          1

[129 rows x 5 columns]

When filtered by owner zipcode, the data is presented like this.

In [17]:
def filter_zips(grouped):
    if compare_zips(grouped.iloc[0,1]):
        return True
    else:
        return False
    
def compare_zips(owner_zip):
    for i in city_zips:
        if city_zips[i-1] == owner_zip:
            return True
        else:
            return False
    
pitt_zips = dl.groupby("OwnerZip").filter(filter_zips)

NameError: name 'city_zips' is not defined

Attempt at filter function to filter for just the zip codes.
Errors with:
* Line 14 with OwnerZip part of filtering
* If statement in line 2
* For statement in line 8

In [13]:
query_mask201 = dl['OwnerZip'] == 15201
query_mask203 = dl['OwnerZip'] == 15203
query_mask204 = dl['OwnerZip'] == 15204
query_mask205 = dl['OwnerZip'] == 15205
query_mask206 = dl['OwnerZip'] == 15206
query_mask207 = dl['OwnerZip'] == 15207
query_mask208 = dl['OwnerZip'] == 15208
query_mask210 = dl['OwnerZip'] == 15210
query_mask211 = dl['OwnerZip'] == 15211
query_mask212 = dl['OwnerZip'] == 15212
query_mask213 = dl['OwnerZip'] == 15213
query_mask214 = dl['OwnerZip'] == 15214
query_mask215 = dl['OwnerZip'] == 15215
query_mask216 = dl['OwnerZip'] == 15216
query_mask217 = dl['OwnerZip'] == 15217
query_mask218 = dl['OwnerZip'] == 15218
query_mask219 = dl['OwnerZip'] == 15219
query_mask220 = dl['OwnerZip'] == 15220
query_mask221 = dl['OwnerZip'] == 15221
query_mask222 = dl['OwnerZip'] == 15222
query_mask224 = dl['OwnerZip'] == 15224
query_mask226 = dl['OwnerZip'] == 15226
query_mask227 = dl['OwnerZip'] == 15227
query_mask230 = dl['OwnerZip'] == 15230
query_mask233 = dl['OwnerZip'] == 15233
query_mask234 = dl['OwnerZip'] == 15234 
query_mask235 = dl['OwnerZip'] == 15235

query_mask235.head(15)

DogName
SASHA              False
JAKE               False
SHILOH             False
BLONDIE            False
SASHA              False
CODY               False
CHARLIE            False
COLT               False
CANDY              False
KEENA               True
AMOS               False
BEAR               False
MADISON            False
TENNESEE TUXEDO    False
HOLLY              False
Name: OwnerZip, dtype: bool

Different approach to filtering using individual query masks and then later combining them to create a longer list of combined query masks.
The .head() method was used a test to confirm mask was working, resulted in success.

In [14]:
def combine(ulist, query_mask, index):
    for i in query_mask:
        ulist.insert(query_mask[i], index)
        index += 1
        
    return index

index = 0
city_dogs = []
index = combine(city_dogs, query_mask201, index)

<ipython-input-14-9b679988ced0>:3: DeprecationWarning: In future, it will be an error for 'np.bool_' scalars to be interpreted as an index
  ulist.insert(query_mask[i], index)

This piece was meant to combine the query masks with the combine method accepting list that will result in all query masks being contained within it, the query mask being added currently, and the index of the combined list that currently can be added to.
Code cell results in *"DeprecationWarning: In future, it will be an error for 'np.bool_' scalars to be interpreted as an index
  ulist.insert(query_mask[i], index)"*

To-Do List:
* Filter out non-pitt zips
* Show new data in describe and sample
* Create a graph describing dog friendly areas and explain it