# Introduction

We were tasked with finding the **best neighborhood in Pittsburgh** by whatever means necessary.

Initially, we started brainstorming some ideas for creative metrics to measure this.

![GIF](https://media.giphy.com/media/2H67VmB5UEBmU/giphy.gif)

Our initial ideas included best air quality, greatest number of restaurants, greatest number of parks, and best areas to shoot a scary movie.

![GIF](https://media.giphy.com/media/10aADbYxnJlc9q/giphy.gif)
![GIF](https://media.giphy.com/media/ySVKduoNNFoRy/giphy.gif)
![GIF](https://media.giphy.com/media/SbwGrFfajN4OI/giphy-downsized-large.gif)
![GIF](https://media.giphy.com/media/GsJO3Yy0DCvEk/giphy.gif)

Due to the databases available, these ideas were scrapped for our current metric.

# The Metric

"Describe your metric, what features are you measuring. What datasets  are you using?"

The metric that we decided to use is the most dog friendly neighborhood in Pittsburgh since the best neighborhoods in Pittsburgh should also be the best for a man's best friend.

![GIF](https://media.giphy.com/media/f4HpCDvF84oh2/giphy.gif)

The features that we are measuring are occupied housing units, number of dog licenses, and availability of supermarkets.

In [2]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt

houses_pandas = pd.read_csv("PittsburghHouses.tsv" , sep='\t')
dl = pd.read_csv("DogLicenses.csv", index_col = "DogName")
stores_data = pd.read_csv("data-conveniencesupermarkets.csv")

**Housing Database:** The number of occupied units in 2010 of Pittsburgh neighborhoods.

In [3]:
houses_pandas.sample(5)

,Neighborhood,Sector #,Population (2010),Total # Units (2000),Total # Units (2010),% Occupied Units (2010),% Vacant Units (2010),# Occupied Units (2010),% Owner Occupied Units (2010),% Renter Occupied Units (2010),...,% Units Built before 1939,Median Home Value (2000),Med. Val. ('00 in '10 Dollars),Median Home Value (2010),% Change Real Value 2000-2010,Median Sale Price (2010),# Sales Counted (2010),Foreclosures (2008),Foreclosures (2010),% of all Housing Units Foreclosed (2010)
54,New Homestead,8,990,387,429,0.939394,0.060606,436,0.903670,0.096330,...,0.245413,90900.0,115106.722543,117400.0,0.019923,100000.0,11,3,3,0.006993
76,Squirrel Hill South,10,15110,7069,7514,0.945568,0.054432,7135,0.456202,0.543798,...,0.493483,134633.0,170485.845723,201400.0,0.181330,218250.0,176,12,2,0.000266
17,Central Lawrenceville,13,4482,2904,2670,0.858801,0.141199,2388,0.491625,0.508375,...,0.763509,41950.0,53121.309249,66850.0,0.258440,67500.0,107,11,11,0.004120
22,Crafton Heights,4,3814,1819,1836,0.885076,0.114924,1634,0.627907,0.372093,...,0.407254,64450.0,81613.072254,76650.0,-0.060812,40000.0,60,29,18,0.009804
1,Allegheny West,3,462,390,355,0.749296,0.250704,203,0.182266,0.817734,...,0.574468,159700.0,202228.202312,123600.0,-0.388809,309940.0,7,0,1,0.002817

**Dog Licensing Database:** The number of dog licenses in zipcodes of Pittsburgh cities.

In [4]:
dl.sample(5)

,LicenseType,Breed,Color,OwnerZip,ExpYear,ValidDate
DogName,,,,,,
SIENNA,Dog Lifetime Spayed Female,POODLE MIX,BROWN,15220,2099,2015-12-10T09:24:19
LADY,Dog Lifetime Female,GER SHEPHERD,BLACK/TAN,15044,2099,2021-02-02T15:59:56
TAZ,Dog Lifetime Neutered Male,AM PIT BULL TERRIER,BRINDLE,15108,2099,2015-12-22T15:26:57
MORTY,Dog Lifetime Neutered Male,GOLDENDOODLE,APRICOT,15229,2099,2019-05-20T10:25:23
BECKHAM,Dog Lifetime Neutered Male,POODLE MIX,WHITE/BLACK,15237,2099,2021-04-29T15:50:07

**Supermarkets Database:** The number of supermarkets and conviene stores in Allegenheny County.

In [5]:
stores_data.sample(5)

,Client ID,Name,Legal Name,Start Date,Street #,Street Name,State,Zip,Lat,Lon,Accuracy,Category
76,201603170005,Speedway #2917,Speedway LLC,3/10/2016,4363,Broadway Blvd,PA,15146.0,40.397285,-79.768965,8.0,Convenience Store
261,54565,Friend's Shell Food Shop,NaN,11/21/1995,5735,Baum Blvd,PA,15206.0,40.458897,-79.932637,9.0,Convenience Store
581,201102220003,Shop 'n Save,J & D Supermarkets LLC,2/22/2006,799,Castle Shannon Bo,PA,15234.0,40.367580,-80.017161,3.0,Supermarket
585,44108,Shop 'n Save / Glenshaw #212403,MJS Foods LLC,11/29/2006,917,Butler St,PA,15116.0,40.513310,-79.950785,5.0,Supermarket
650,39139,The Fresh Market,The Fresh Market Inc.,7/3/2013,1551,Washington Rd,PA,15228.0,40.355489,-80.050351,8.0,Supermarket

# The Best Neighborhood

"Apply the metric from the previous section to determine the best neighborhood in Pittsburgh. Beyond just executing code, provide narrative about why you think this is the best neighborhood. Incorporate a data visualization, perhaps to rank all of the neighborhoods or show a neighborhood’s best-ness over time. The key is to make a data driven argument."

# Conclusion

"Reflect on how the data driven determination of “best neighborhood” is the same or different from your personal favorite neighborhood. Each member of the group should write their own response to this."